body {
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin: 0px -20px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.ant-layout-header {
  padding: 0px 20px !important;
}

.ant-layout-content {
  margin: 10px 20px !important;
}

.res-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.res-card {
  margin: 6px;
  padding: 6px;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.ant-card {
  margin: 6px !important;
}

.res-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.carousal-container {
  margin: 6px;
}

.carousel-item {
  margin: 20px 0px !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}

.ant-carousel {
  border-radius: 10px;
  background-color: oklch(0.21 0.034 264.665);
}

.search-bar {
  margin-top: 12px;
  margin-right: 20px;
  display: flex;
}

.nav-items {
  display: flex;
}

.user-card {
  margin: 20px 15% !important;
}

.resMenu-description {
  width: 90%;
}

.online-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.ant-layout-footer {
  padding: 0 !important;
}

.ant-tabs .ant-tabs-tab {
  padding: 0 !important;
}

.ant-modal-footer {
  text-align: center !important;
}

.ant-collapse-header-text {
  text-align: start !important;
}
